body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(245, 233, 219);;
}

.header_text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
 }

.tenor-gif-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.back-button:hover {
    background-color: lightpink;
    transform: translateY(-2px);
}
